<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heidan.dao.IMemberMapper">

    <sql id="member">
        id,name,nick_name,phone_num,email
    </sql>

    <select id="findById" parameterType="java.lang.Integer" resultType="Member">
        select
        <include refid="member"/>
        from member where id = #{id}
    </select>

</mapper>